In [1]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv('data.csv', names=['Age','Gender','TB','DB','Alkphos','Sgpt','Sgot','TP','ALG','A/G','Class'])
data.head()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALG   A/G  Class
0   65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90      1
1   62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74      1
2   62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89      1
3   58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00      1
4   72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40      1

In [12]:
data.isnull().any()

Age        False
Gender     False
TB         False
DB         False
Alkphos    False
Sgpt       False
Sgot       False
TP         False
ALG        False
A/G         True
Class      False
dtype: bool

In [14]:
nan_rows = data[data['A/G'].isnull()]
print(nan_rows)

     Age  Gender   TB   DB  Alkphos  Sgpt  Sgot   TP  ALG  A/G  Class
209   45  Female  0.9  0.3      189    23    33  6.6  3.9  NaN      1
241   51    Male  0.8  0.2      230    24    46  6.5  3.1  NaN      1
253   35  Female  0.6  0.2      180    12    15  5.2  2.7  NaN      2
312   27    Male  1.3  0.6      106    25    54  8.5  4.8  NaN      2

In [15]:
data['Class'].value_counts()

1    416
2    167
Name: Class, dtype: int64

In [16]:
data = data.dropna()

In [17]:
data.isnull().any()

Age        False
Gender     False
TB         False
DB         False
Alkphos    False
Sgpt       False
Sgot       False
TP         False
ALG        False
A/G        False
Class      False
dtype: bool

In [18]:
data.shape

(579, 11)

In [19]:
X = data.iloc[:,0:10]
X.head()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALG   A/G
0   65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90
1   62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74
2   62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89
3   58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00
4   72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40

In [20]:
y = data.iloc[:,-1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [21]:
X.Gender = X.Gender.map({"Male":0, "Female":1})

In [22]:
X.head()

   Age  Gender    TB   DB  Alkphos  Sgpt  Sgot   TP  ALG   A/G
0   65       1   0.7  0.1      187    16    18  6.8  3.3  0.90
1   62       0  10.9  5.5      699    64   100  7.5  3.2  0.74
2   62       0   7.3  4.1      490    60    68  7.0  3.3  0.89
3   58       0   1.0  0.4      182    14    20  6.8  3.4  1.00
4   72       0   3.9  2.0      195    27    59  7.3  2.4  0.40

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [25]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

/home/imdadul/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept =True,
                  intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
                  penalty='12', random_state=None, solver='liblinear', tol=0.0001,
                  verbose=0, warm_start=False)

LogisticRegression(multi_class='ovr', n_jobs=1, penalty='12',
                   solver='liblinear')

In [29]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(y_pred,y_test))

Accuracy:  0.7155172413793104

In [31]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion="gini")
clf.fit(X_train, y_train)
print("Accuracy: ",accuracy_score(clf.predict(X_test),y_test))

Accuracy:  0.6637931034482759

In [32]:
from sklearn.linear_model import Perceptron
clf2 = Perceptron()
clf2.fit(X_train, y_train)
print("Accuracy: ",accuracy_score(clf2.predict(X_test),y_test))

Accuracy:  0.6982758620689655

In [33]:
from sklearn.ensemble import RandomForestClassifier
clf3 = RandomForestClassifier()
clf3.fit(X_train, y_train)
print("Accuracy: ",accuracy_score(clf3.predict(X_test),y_test))

Accuracy:  0.6724137931034483

In [34]:
data.Gender = data.Gender.map({"Male":0, "Female":1})
df_majority = data[data.Class==1]
df_minority = data[data.Class==2]

/home/imdadul/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [35]:
from sklearn.utils import resample
df_majority_upsampled = resample(df_minority,
                                replace=True,      #Sample with replacement
                                n_samples = 414,  #to match majority class
                                random_state=123)

In [36]:
df_upsampled = pd.concat([df_majority, df_majority_upsampled])
df_upsampled.Class.value_counts()

2    414
1    414
Name: Class, dtype: int64

In [37]:
X = df_upsampled.iloc[:,0:10]
y = df_upsampled.iloc[:,-1]
X.shape

(828, 10)

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

In [40]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print("Accuracy: ",accuracy_score(y_pred,y_test))

Accuracy:  0.7289156626506024

/home/imdadul/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [44]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[47 34]
 [11 74]]

In [41]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion="gini")
clf.fit(X_train, y_train)
print("Accuracy: ",accuracy_score(clf.predict(X_test),y_test))

Accuracy:  0.8132530120481928

In [45]:
# Confusion Matrix
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[47 34]
 [11 74]]

In [42]:
from sklearn.linear_model import Perceptron
clf2 = Perceptron()
clf2.fit(X_train, y_train)
print("Accuracy: ",accuracy_score(clf2.predict(X_test),y_test))

Accuracy:  0.6024096385542169

In [43]:
from sklearn.ensemble import RandomForestClassifier
clf3 = RandomForestClassifier()
clf3.fit(X_train, y_train)
print("Accuracy: ",accuracy_score(clf3.predict(X_test),y_test))

Accuracy:  0.8614457831325302